body {
	background: url('main_bg.jpg') #f4f4f4 repeat;
	font-family: Verdana, Arial;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}
header {
	background: #f4f4f4;
	border-bottom: 1px solid #e6e5e5;
	padding: 10px;
}
.container {
	width: 960px;
	margin: auto;
}