@import 'mixins';

body {
	// @include default_font;
	background: url('main_bg.jpg') #f4f4f4 repeat;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}
ul, p, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}
#wrapper {
	min-width:1000px;
}
header {
	background: #f4f4f4;
	border-bottom: 1px solid #e6e5e5;
	padding: 10px;
}
.container {
	@include content_width;
	margin: auto;
}
.container_padding {
	padding-bottom: 100px;
}
.error, .alert {
	@include ma;
	@include p5;
	@include content_width;
	@include rad5;
	@include shadow;
	@include error;
}
.success, .notice {
	@include ma;
	@include content_width;
	@include p5;
	@include rad5;
	@include shadow;
	@include success;
}
h1 {
	color: #d9d9d9;
	font-size: 40px;
}
h2 {
	color: $heading_gray;
	letter-spacing: -0.5px;
}
h3 {
	color: $black;
}
.shadow {
	@include shadow;
}
.component {
	@include component_border;
	@include p10;
}
li {
	list-style: none;
}
ul li {
	@include clearfix;
	list-style: none;
	@include mb20;
	.pic {
		@include fl;
		// width: 50px;
	}
	.content {
		margin-left:60px;
		div {
			font-size: 12px;
		}
	}
}

a {
	color: $default_link;
	@include tdn;
	@include mr5;
	&:hover {
		@include tdu;
	}
}

.link, .in_place_edit, .best_in_place {
	color: $default_link;
	@include mr5;
	@include ml5;
	@include tdn;
	&:hover {
		// @include tdu;
		cursor: pointer;
	}
}

//select.in_place_edit, select.best_in_place {
//	@include tdn;
//	&:hover {
//		@include tdn;
//	}
//}

.beautify_params {
	margin: 10px 0px;
	@include clearfix;
}

.login_links {
	@include login_links_height;
}


.no_margin_strict {
	margin: 0px !important;
}
.no_top_margin {
	margin-top: 0px !important;
}
.no_bottom_margin {
	margin-bottom: 0px !important;
}
.no_left_margin {
	margin-left: 0px !important;
}
.no_right_margin {
	margin-right: 0px !important;
}