@import 'mixins';

.dashboard_left {
	@include fl;
	#profile_info {
		@include relative;
		h3 {
			margin:10px 0px;
			line-height: 24px;
		}
	}
}
.dashboard_right {
	@include fl;
	@include ml20;
}
h1.dash_head {
}
h2.dash_head {
	margin-bottom: 30px;
}
.score {
	color: $yellow;
	@include fb;
	font-size: 80px;
	line-height: 65px;
	letter-spacing: -7px;
}
.social_links {
	@include absolute;
	right: 0px;
	bottom: 0px;
}