@import 'mixins';

.formtastic {
	.stringish {
		input {
			width: 70%
		}
	}
	.stringish input, .text textarea, textarea, select {
		@include p5;
	}
	select {
		width: 365px;
	}
	textarea, .text textarea {
		height: 100px;
		min-width: 350px;
		width: 350px;
		max-width: 350px;
	}
	abbr {
		@include pl5;
	}
	.date_select {
		width: 119px;
	}
}