h1.mbl Profile Info
h3= link_to 'Edit Profile', edit_profile_path
= beautify_params 'First name', (best_in_place @user, :first_name)
= beautify_params 'Last name', (best_in_place @user, :last_name)
= beautify_params 'Username', (best_in_place @user, :username)
= beautify_params 'Birthday', (best_in_place @profile, :birthday)
= beautify_params 'Relationship Status', (best_in_place @profile, :relationship_status, :type => :select, :collection => relationships)
= beautify_params 'Address', (best_in_place @profile, :address, type: :textarea )
= beautify_params 'Work', (best_in_place @profile, :work)
= beautify_params 'Work Place', (best_in_place @profile, :work_place)
= beautify_params 'Education', (best_in_place @profile, :education)
= beautify_params 'University', (best_in_place @profile, :university)
